.Card {
    width: 100vh;
    height: 275px;
    background-color: darkviolet;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 30px;
}

.Container {
    padding: 30px 20px;
    color: white;
}

