.Header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.Header > nav > ul {
    display: flex;
    list-style: none;
}

.Header > nav > ul li {
    font-size: 25px;
    margin-right: 20px;
}