.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url('../../imgs/HomePageBackground.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}